.placeholder {
  padding: 25px 0px;
}

.notification-text {
  font-size: 20px;
}

.hide-notification {
  display: none;
}

.center {
  text-align: center;
}

#game-name {
  font-size: 40px;
  padding: 10px;
}

#instructions {
  padding: 10px 0px;
}

#commands {
  padding: 10px 0px;
  margin-left: 400px;

  li {
    padding: 5px;
    margin-left: 30px;
  }
}

button {
  padding: 5px 20px;
  margin: 10px 2px;
}

#result-text {
  font-size: 30px;
  margin: 30px 0px;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  background-color:#eee;
  font-family: sans-serif;
}

.session {
  margin: 20px auto;
  width: 800px;
  height: 400px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-row: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  .game-container, .placeholder-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    align-items: center;
    justify-content: center;
  }

  .display-name {
    font-size: 40px;
  }

  .active-card {
    font-size: 40px;
    padding: 10px 0px;
  }

  .choice-higher, .choice-lower {
    background: slateblue;
  }
}

