{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <p id="game-name" class="center">High/Low Game</p>
    <div id="instructions" class="center">Try to guess if the next card will be higher or lower.</div>
    <div id="commands" class="">
      Chat commands:
      <ul>
        <li>Send "!j" in chat to join.</li>
        <li>Send "h" in chat to guess "higher"</li>
        <li>Send "l" in chat to guess "lower"</li>
      </ul>
    </div>
    {{ template "gameSession" . }}
  </body>
</html>
{{ end }}

{{ block "gameSession" . }}
  <div class="session">
    {{ range $Games := .Games }}
      {{ template "game" . }}
    {{ end }}
  </div>
{{ end }}

{{ block "game" . }}
<div hx-get="/game?DisplayName={{ .DisplayName }}" hx-trigger="every 1s" hx-swap="outerHTML" class="game-container">
  <div class="{{ .GameClass }}">
    <div class="display-name center">{{ .DisplayName }}</div>
    <div class="active-card center">{{ .ActiveCard }}</div>
    <div class="center">
      <button class="{{ .UserChoiceLower }}">Lower</button>
      or
      <button class="{{ .UserChoiceHigher }}">Higher</button>
    </div>
  </div>
  <div class="placeholder {{ .PlaceholderClass }}">
    <div class="display-name center">Type "!j" to start a game!"</div>
  </div>
</div>
{{ end }}

{{ block "result" . }}
<div hx-get="/game?DisplayName={{ .DisplayName }}" hx-trigger="every 3s" hx-swap="outerHTML" class="game-container">
  <div class="display-name center">{{ .DisplayName }}</div>
  <div id="result-text" class="center">{{ .Text }}</div>
</div>
{{ end }}

{{ block "endGame" . }}
<div hx-post="/install-placeholder?DisplayName={{ .DisplayName }}" hx-trigger="every 8s" hx-swap="outerHTML" class="game-container">
  <div class="display-name center">{{ .DisplayName }}</div>
  <div id="result-text" class="center">{{ .Text }}</div>
</div>
{{ end }}
